.delete{
    background-image: url('./background.jpg');
    background-size: 100% 160%;
    height: 80vh;
    border:0.5rem ridge orange;
    border-radius: 10px;
    width: 80vw;
    box-shadow: #000000ba -10px 10px 10px;
    
    
}
@media(max-width:600px){
    .delete{
    background-image: none;
    background: linear-gradient(black,gray);
    }
  
  }