* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}
body{
  background-repeat: no-repeat;
background: linear-gradient( 0deg,#000000c5, #007c85);
background-size: 100% 160%;
}